<h1>Buildings Show Page</h1>

<h3><%= @building.name %></h3>
<h3><%= @building.country %></h3>
<h3><%= @building.address %></h3>
<h3><%= @building.rent_per_floor %></h3>
<h3><%= @building.number_of_floors %></h3>

<%= link_to 'INDEX', buildings_path%>